<div class="container">

    <h4 class="photo-list">Photo Listing</h4>

    <div class="row">
        <div class="col-lg-3 d-flex align-items-stretch" *ngFor="let list of photoList">
            <div class="card" style=" height: auto;">
                <img class="card-img-top" src="{{list.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{list.title}}</h5>
                    <p class="card-text">ID{{list.id}}</p>
                    <a href="{{list.thumbnailUrl}}">{{list.thumbnailUrl}}</a><br>
                    <button class="btn btn-primary" *ngIf="objectId[list.id]"
                        (click)="addPhotoDetails(list.id)">Compare</button>
                    <button class="btn btn-primary" *ngIf="!objectId[list.id]"
                        (click)="removePhotoDetails(list.id)">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <h4 class="com-table">Comparison Table</h4>


    <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Url</th>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of comparisonTable">
                    <th scope="row">{{data.id}}</th>
                    <td><img src="{{data.url}}" alt="" class="table-img"></td>
                    <td>{{data.thumbnailUrl}}</td>
                    <td>{{data.title}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>